* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background: #e6e1f1;
    color: #2e2e2e;
}

header {
    background-color: #c2bfe4;
    padding: 10px 30px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto 1fr auto;
}

nav {
    margin-left: 530px;
    margin-top: 10px;
}

.logo {
    height: 70px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.profile-icon {
    font-size: 24px;
}

main {
    background-image: url('img/background.png');
    background-size: cover;
    padding: 200px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    position: relative;
}

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

.slider-box {
    padding: 30px 40px;
    border-radius: 25px;
    width: 900px;
    text-align: center;
    margin-bottom: 20px;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    max-width: 100%;
    border-radius: 20px;
}

.slider-controls {
    position: absolute;
    top: 370px;         
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 2;
}

.arrow {
    cursor: pointer;
    user-select: none;
}

.button-wrapper {
    text-align: center;
}

.cta-button {
    background-color: #ad72ca;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #7d3593;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #c2bfe4;
    padding: 30px 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    color: #3c3c3c;
    border-top: 2px solid #b6a7d0;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-divider {
    width: 3px;
    background-color: #a486cc;
    height: 100px;
    align-self: center;
}

.footer-section p {
    line-height: 1.8;
}

.footer-section.right .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-section.right img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-section.right img:hover {
    transform: scale(1.1);
}

.left-img,
.right-img {
    position: absolute;
    width: 220px;
    height: auto;
    z-index: 0;
}

.left-img {
    top: 180px;
    left: 30px;
}

.right-img {
    bottom: 230px;
    right: 30px;
}
